.cart{
    width: 2.5rem;
}

.badge-widget{
    background-color: black;
    padding: .4em;
    color: yellow;
    border-radius: 10em;
    font-size:.8em;
}

.container-widget{
    width: 30%;
    display:flex;
    align-items: center;
    justify-content: right;
    padding-right: .5em;
}