@font-face {
    font-family: 'GlacialIndifference-Regular';
    src: url('../../../public/fonts/GlacialIndifference-Regular.otf') format('truetype');
}

.cardItem {
    width: 18rem;
    font-family: 'GlacialIndifference-Regular', sans-serif;
    padding: .5em;
    border: 1px solid black;
    background-color: rgba(255, 255, 0, 0.522);
}

.card-title{
    font-family: 'HaarlemDeco', sans-serif;
}