@font-face {
    font-family: 'HaarlemDeco';
    src: url('../../../public/fonts/Haarlem\ Deco\ DEMO.otf') format('truetype');
}

.navContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    text-align: center;
    background-image: url(../../../public/images/nubes.jpg);
    font-family: 'HaarlemDeco', sans-serif;
}

.logo{
    width: 6rem;
}