@font-face {
    font-family: 'HaarlemDeco';
    src: url('../../../public/fonts/Haarlem\ Deco\ DEMO.otf') format('truetype');
}

.navContainer{
    display: flex;
    justify-content: space-between;
    background-image: url(../../../public/images/nubes.jpg);
}

.logo{
    width: 6rem;
}