.navContainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-image: url(../public/images/nubes.jpg);
  font-family: 'HaarlemDeco', sans-serif;
}

.linksContainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.link{
    font-size: 1.5em;
    color:black;
    text-decoration: none;
    font-weight: bold;
}

